.shlp {
  width: 1364px;
  background: #e4faff;
  border-radius: 10px;
  border: 8px solid #000;
  padding: 30px;
  filter: drop-shadow(15px 15px 0px rgba(0, 0, 0, 0.25));
}

.alignsec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 {
  border: 5px solid #000;
  display: inline-block;
  margin: 30px;
  border-radius: 10px;
  border-top-left-radius: 20%;
  padding-top: 30px;
  width: 250px;
  height: 205px;
  background: #ffffff;
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.15);
  border-radius: 80px 10px 10px 10px;
}

.card2 .head {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-align: center;
}

.card2 .subhead {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: center;
}

.btn2 {
  height: 45px;
  width: 166px;
  margin-left: 42px;
  left: 781px;
  top: 582px;
  border-radius: 5px;
  background: #d95c47;
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: center;
}

.shlheadings h1 {
  position: absolute;
  width: 100%;
  margin-top: -80px;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
}