@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.main-btn{
    background: #FFF1BE;
    border: 5px solid #000000;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 10px;
    width: 600px;
    text-align: center;
    transition: 0.2s linear 0s;
}

.main-btn:hover{
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15);
    transform: translate(5px, 5px);
  }