@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fffff3;
}

.ceilsvg {
  width: 100%;
  transform: scaleY(1) translateY(-32%);
}

.ceil button {
  transform: scale(1);
  width: 350px;
  height: 90px;
  display: block;
  align-items: center;
  position: absolute;
  top: 3vh;
  left: 8%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
  color: #000000;
}
.logreg button {
  z-index: 5;
}

.logreg h4 {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-align: center;
}

.login-button {
  display: flex;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 5;
  margin-top: -90px;
  width: 70%;
}

.login-button button {
  margin-left: 2%;
  margin-right: 2%;
}

.regtab {
  margin-top: -200px;
}

.sreg {
  display: flex;
  height: 40px;
  width: 100%;
}

.sreg button {
  margin-top: -0.5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0.1em;
  border: 0;
  background-color: transparent;
  color: #d95c47;
  text-decoration: none;
}
.lft p {
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: right;
  padding: 15px;
  padding-right: 20px;
  width: 80%;
  margin-top: 10%;
  margin-left: 20%;
}
.ryt p {
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: left;
  padding: 15px;
  padding-right: 20px;
  width: 80%;
  margin-top: 10%;
  margin-left: 0%;
}

.lft img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ryt img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.centr {
  display: flex;
  align-items: center;
}

.centr img {
  transform: scale(0.7) translate(-23%, -95px);
}

.overhide {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
