*{
    margin: 0;
    padding: 0;
}

.ceilsvg{
    /* height: 20vh; */
    width: 100%;
    /* object-fit: cover; */
    transform: scaleY(0.65);
    top: 0;
    transform: translateY(-35%);
}

.ceil{
    position: relative;
    margin-bottom: -100px;
}

.ceil button{
    position: absolute;
    top: 10%;
    left: 13%;
    transform: scale(1.3);
    width: 300px;
    display: block;
    align-items: center;
}
.logreg button{
    z-index: 5;
}

.logreg h4{
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-align: center;
}

.login-button{
    display: flex;
    left: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.login-button button {
    margin-left: 2%;
}

.sreg{

    display: flex;
    width: 100%;
}

.sreg button{
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1em;
    border: 0;
    background-color: transparent;
    color: #d95c47;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-decoration: underline;
}
.out{
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(-100%);
}
.description{
    margin-top: 5vh;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-align: justify;
    margin-right: 5%;
    position: relative;
    width: 100%;

}

.centr img{
    margin-bottom: -8%;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    /* transform: translateY(-6%); */
}

.lft {
    width: 33%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.ryt{
    width: 33%;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

body{
    overflow-x: hidden;
}

